  body {
	align-items: center;
	background: #000;
	overflow: scroll;
	align-items: center;
  }
  a {
	text-decoration: none;
	color: inherit;
	font-size: 24px;
  }
  
  .title {
	font-weight: 700;
	font-size: 40px;
	font-family: Hack, sans-serif;
	text-transform: uppercase;
	background: linear-gradient(90deg, #000, #fff, #000);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: shine 5s linear infinite;
	position: relative;
	top: 50px;
	left: 500px;
  }

  .author {
	font-weight: 700;
	font-size: 10px;
	font-family: Hack, sans-serif;
	text-transform: uppercase;
	background: linear-gradient(90deg, #000, #fff, #000);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: shine 5s linear infinite;
	position: relative;
	top: 60px;
	left: 700px;
  }

  .poem {
	font-weight: 700;
	font-size: 80px;
	font-family: Hack, sans-serif;
	background: linear-gradient(90deg, #000, #fff, #000);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 70%;
	animation: shine 9s linear infinite;
	position: relative;
	top: 50px;
	padding: 30px;
  }
  
  @keyframes shine {
	0% {
	  background-position-x: -500%;
	}
	100% {
	  background-position-x: 500%;
	}
  }
  