*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    background-color:rgb(0, 0, 0);
    margin: auto;
    overflow: hidden;
    top: 50px;
}
#character{
    width: 47px;
    height: 47px;
    background-image: url(img/cat.png);
    background-size: 47px;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color:rgb(221, 150, 156);
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 60px;
    height: 20px;
    background-color:rgb(0, 0, 0);
    position: relative;
    top: 100px;
    margin-top: -20px;
}