body { 
	margin: 0px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden;
	background-color: black; 
}

div { 
	position: absolute; 
}

#moon_shape {
	background-color: #bbbbbb;
    background-image: linear-gradient( 400deg, #000000 16.666%, );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: rainbow-text-simple-animation-rev;
	background-image: linear-gradient(
60deg, #0080ff, #ffa200 , #ff0040, #f2ff3a);
    background-clip: text;
    color: transparent;
}

#content-container { 
	display: block; 
	position: relative; 
	width: 1440px;  
	margin-left: auto; 
	margin-right: auto;  
}

#content-container > div{ 
	position: relative; 
	top:inherit; 
}

#page__20_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3348px;
}

#_bg___20_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 3348px;
	background:rgba(255,255,255,1);
}


#name {
	top: 322px;
	left: 92px;
	width: 4010px;
	height: 548px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 288px;
	text-align: left;
	color:#FFFFFF;
}


#author {
	top: 725px;
	left: 914px;
	width: 552px;
	height: 92px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}

#moon_shape {
	top: 966px;
	left: 159px;
	width: 1121px;
	height: 1342px;
}

#line1 {
	top: 0px;
	left: 574px;
	width: 193px;
	height: 76px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 40px;
	text-align: left;
	color:#FFFFFF;
}


#line2 {
	top: 43px;
	left: 410px;
	width: 274.5px;
	height: 85.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 45px;
	text-align: left;
	color:#FFFFFF;
}


#line3 {
	top: 92px;
	left: 326px;
	width: 312px;
	height: 87px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 46px;
	text-align: left;
	color:#FFFFFF;
}


#line4 {
	top: 142px;
	left: 266px;
	width: 322.5px;
	height: 85.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 45px;
	text-align: left;
	color:#FFFFFF;
}


#line5 {
	top: 191px;
	left: 209px;
	width: 333.5px;
	height: 85.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 45px;
	text-align: left;
	color:#FFFFFF;
}


#line6 {
	top: 240px;
	left: 156px;
	width: 352px;
	height: 79px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 42px;
	text-align: left;
	color:#FFFFFF;
}


#line7 {
	top: 285px;
	left: 112px;
	width: 371px;
	height: 79px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 42px;
	text-align: left;
	color:#FFFFFF;
}


#line8 {
	top: 330px;
	left: 85px;
	width: 386.5px;
	height: 88.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 47px;
	text-align: left;
	color:#FFFFFF;
}


#line9 {
	top: 381px;
	left: 63px;
	width: 422px;
	height: 155px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 82px;
	text-align: left;
	color:#FFFFFF;
}


#line10 {
	top: 474px;
	left: 43px;
	width: 399px;
	height: 92px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}


#line11 {
	top: 527px;
	left: 15px;
	width: 438px;
	height: 122px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 64px;
	text-align: left;
	color:#FFFFFF;
}


#line_12 {
	top: 599px;
	left: 0px;
	width: 532.5px;
	height: 237.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 125px;
	text-align: left;
	color:#FFFFFF;
}


#line13 {
	top: 744px;
	left: 14px;
	width: 433px;
	height: 46px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
}


#line14 {
	top: 768px;
	left: 14px;
	width: 480px;
	height: 95px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 50px;
	text-align: left;
	color:#FFFFFF;
}


#line15 {
	top: 823px;
	left: 26px;
	width: 505.5px;
	height: 96.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 51px;
	text-align: left;
	color:#FFFFFF;
}


#line16 {
	top: 879px;
	left: 44px;
	width: 503.5px;
	height: 69.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 37px;
	text-align: left;
	color:#FFFFFF;
}


#line17 {
	top: 918px;
	left: 60px;
	width: 514.5px;
	height: 66.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 35px;
	text-align: left;
	color:#FFFFFF;
}


#line18 {
	top: 955px;
	left: 85px;
	width: 545.5px;
	height: 66.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 35px;
	text-align: left;
	color:#FFFFFF;
}


#line19 {
	top: 992px;
	left: 117px;
	width: 582.5px;
	height: 120.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 63px;
	text-align: left;
	color:#FFFFFF;
}


#line20 {
	top: 1063px;
	left: 179px;
	width: 704px;
	height: 130px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 68px;
	text-align: left;
	color:#FFFFFF;
}


#line21 {
	top: 1142px;
	left: 251px;
	width: 923px;
	height: 105px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}


#line22 {
	top: 1196px;
	left: 346px;
	width: 722px;
	height: 92px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}


#line23 {
	top: 1242px;
	left: 436px;
	width: 565px;
	height: 92px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 48px;
	text-align: left;
	color:#FFFFFF;
}


#line24 {
	top: 1293px;
	left: 513px;
	width: 386.5px;
	height: 77.5px;
	overflow: hidden;
	font-family: Brick Display Pro;
	font-size: 41px;
	text-align: left;
	color:#FFFFFF;
}



/* Add your custom CSS here */
