* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_2 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_28 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 609px;
  font-family: Pitch;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: justified;
}
.v4_83 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 230px;
  left: 685px;
  font-family: Pitch;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: justified;
}
.v4_87 {
  width: 396px;
  height: 404px;
  background: url("../images/v4_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 521px;
  overflow: hidden;
}
.v4_84 {
  width: 68px;
  height: 63px;
  background: rgba(153,19,19,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v4_65 {
  width: 67px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 0px;
  left: 93px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_66 {
  width: 56px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 0px;
  left: 178px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_67 {
  width: 60px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 0px;
  left: 145px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_86 {
  width: 63px;
  height: 63px;
  background: rgba(153,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
}
.v4_70 {
  width: 67px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 78px;
  left: 2px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_71 {
  width: 48px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 155px;
  left: 3px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_72 {
  width: 61px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 214px;
  left: 2px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_73 {
  width: 59px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 286px;
  left: 2px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_74 {
  width: 48px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 356px;
  left: 2px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
}
.v4_75 {
  width: 85px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 402px;
  left: 87px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
  transform: rotate(-180deg);
}
.v4_76 {
  width: 25px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 402px;
  left: 196px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
  transform: rotate(-180deg);
}
.v4_79 {
  width: 59px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 309px;
  left: 0px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
  transform: rotate(-90deg);
}
.v4_80 {
  width: 48px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 214px;
  left: 0px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
  transform: rotate(-90deg);
}
.v4_81 {
  width: 47px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 130px;
  left: 0px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
  transform: rotate(-90deg);
}
.v4_77 {
  width: 61px;
  color: rgba(153,19,19,1);
  position: absolute;
  top: 402px;
  left: 153px;
  font-family: Basics Serif;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: justified;
  transform: rotate(-180deg);
}
.v4_85 {
  width: 63px;
  height: 63px;
  background: rgba(153,19,19,1);
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 63px;
  transform: rotate(-180deg);
}
