div {
  text-transform: uppercase;
  }
div.double2 {
  padding-left: 10px;
}
div.toil1 {
  padding-left: 20px;
}
div.and1 {
  padding-left: 30px;
}
div.trouble1 {
  padding-left: 40px;
}
div.Fire1 {
  padding-left: 50px;
}
div.burn1 {
  padding-left: 60px;
}
div.and2 {
  padding-left: 70px;
}
div.caldron1 {
  padding-left: 80px;
}
div.bubble1 {
  padding-left: 90px;
}
div.Fillet {
  padding-left: 100px;
}
div.of1 {
  padding-left: 90px;
}
div.a1 {
  padding-left: 80px;
}
div.fenny {
  padding-left: 70px;
}
div.snake {
  padding-left: 60px;
}
div.In {
  padding-left: 50px;
}
div.the1 {
  padding-left: 40px;
}
div.caldron2 {
  padding-left: 30px;
}
div.boil1 {
  padding-left: 20px;
}
div.and3 {
  padding-left: 10px;
}
div.Eye {
  padding-left: 10px;
}
div.of2 {
  padding-left: 20px;
}
div.newt {
  padding-left: 30px;
}
div.and4 {
  padding-left: 40px;
}
div.toe {
  padding-left: 50px;
}
div.of3 {
  padding-left: 60px;
}
div.frog {
  padding-left: 70px;
}
div.Wool {
  padding-left: 80px;
}
div.of4 {
  padding-left: 90px;
}
div.bat {
  padding-left: 100px;
}
div.and5 {
  padding-left: 90px;
}
div.tongue {
  padding-left: 80px;
}
div.of5 {
  padding-left: 70px;
}
div.dog {
  padding-left: 60px;
}
div.Adders {
  padding-left: 50px;
}
div.fork {
  padding-left: 40px;
}
div.and6 {
  padding-left: 30px;
}
div.blindworms {
  padding-left: 20px;
}
div.sting {
  padding-left: 10px;
}
div.leg {
  padding-left: 10px;
}
div.and7 {
  padding-left: 20px;
}
div.howlets {
  padding-left: 30px;
}
div.wing {
  padding-left: 40px;
}
div.For {
  padding-left: 50px;
}
div.a2 {
  padding-left: 60px;
}
div.charm1 {
  padding-left: 70px;
}
div.of6 {
  padding-left: 80px;
}
div.powerful {
  padding-left: 90px;
}
div.trouble2 {
  padding-left: 100px;
}
div.Like {
  padding-left: 90px;
}
div.a3 {
  padding-left: 80px;
}
div.hell-broth {
  padding-left: 70px;
}
div.boil2 {
  padding-left: 60px;
}
div.and8 {
  padding-left: 50px;
}
div.bubble2 {
  padding-left: 40px;
}
div.double3 {
  padding-left: 30px;
}
div.double4 {
  padding-left: 20px;
}
div.toil2 {
  padding-left: 10px;
}
div.trouble3 {
  padding-left: 10px;
}
div.Fire2 {
  padding-left: 20px;
}
div.burn2 {
  padding-left: 30px;
}
div.and10 {
  padding-left: 40px;
}
div.caldron3 {
  padding-left: 50px;
}
div.bubble3 {
  padding-left: 60px;
}
div.Cool {
  padding-left: 70px;
}
div.it {
  padding-left: 80px;
}
div.with {
  padding-left: 90px;
}
div.a4 {
  padding-left: 100px;
}
div.baboons {
  padding-left: 90px;
}
div.blood {
  padding-left: 80px;
}
div.Then {
  padding-left: 70px;
}
div.the2 {
  padding-left: 60px;
}
div.charm2 {
  padding-left: 50px;
}
div.is {
  padding-left: 40px;
}
div.firm {
  padding-left: 30px;
}
div.and11 {
  padding-left: 20px;
}
div.good {
  padding-left: 10px;
}