body {
    width: 350px;
    height: 800px;
    border: 3px solid black;
    padding: 10px;
    margin-left: 500px;
}
div.a {
    transform: rotate(-15deg);
    padding-left: 70px;
    padding-top: 20px;
}
div.b {
    transform: rotate(20deg);
    padding-top: 30px;
    padding-left: 170px;
}
div.c {
    transform: rotate(-45deg);
    padding-left: 110px;
    padding-top: 100px;
}
div.d {
    transform: rotate(75deg);
    margin-right: 280px;
    margin-top: 100px;
}
div.e {
    transform: rotate(85deg);
    margin-right: 310px;
    margin-top: 30px;
}
div.f {
    transform: rotate(60deg);
    margin-left: 300px;
}
div.g {
    transform: rotate(-30deg);
}
div.h {
    transform: rotate(10deg);
    margin-top: 120px;
}
div.i {
    transform: rotate(-5deg);
}
div.j {
    transform: rotate(5deg);
}
div.k {
    transform: rotate(3deg);
}
div.l {
    transform: rotate(-3deg);
    margin-left: 100px;
}
div.n {
    transform: rotate(5deg);
}
div.p {
    transform: rotate(-5deg);
}